sudo: false
language: python
cache: pip
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"
  - "pypy3"
matrix:
  allow_failures:
    - python: "nightly"
install:
  - pip install --upgrade -r requirements.txt -r requirements-dev.txt
script:
  - py.test -vv --cov=injector --cov-branch --cov-report html --cov-report term
  - if [[ "${TRAVIS_PYTHON_VERSION}" != "pypy"* ]] ; then mypy injector ; fi
  - if [[ "${TRAVIS_PYTHON_VERSION}" != "pypy"* ]] ; then black --check . ; fi
after_success:
  - coveralls
