# The documentation-specific development dependencies.
#
# We generate requirements-dev.txt from this file by running
#
#     pip install -r requirements-docs.in && pip freeze > requirements-docs.txt
#
# and then modifying the file manually to restrict black and mypy to CPython
furo
sphinx
