name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.6, 3.7, 3.8, 3.9, 3.10.0-alpha.5, pypy3]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade -r requirements.txt -r requirements-dev.txt
        pip install .
    - name: Run tests
      run: |
        py.test -vv --cov=injector --cov-branch --cov-report html --cov-report term
        if which mypy; then mypy injector ; fi
        if which black; then black --check . ; fi
        check-manifest
    - name: Report coverage to Codecov
      uses: codecov/codecov-action@v1
